@font-face {
  font-family: 'iconfont'; /* Project id 3484179 */
  src: url('iconfont.woff2?t=1656311773836') format('woff2'), url('iconfont.woff?t=1656311773836') format('woff'),
    url('iconfont.ttf?t=1656311773836') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichudenglu:before {
  content: '\e61d';
}

.icon-xiugaimima:before {
  content: '\e718';
}

.icon-qiehuanyonghu:before {
  content: '\e695';
}

.icon-lock:before {
  content: '\e7c9';
}

.icon-fullscreen:before {
  content: '\e7ec';
}

.icon-fullscreen-exit:before {
  content: '\e7ed';
}

.icon-setting:before {
  content: '\e67d';
}

.icon-tongzhiNotice:before {
  content: '\e7ce';
}

.icon-warning-circle:before {
  content: '\e785';
}

.icon-component:before {
  content: '\e733';
}

.icon-dashboard:before {
  content: '\e78b';
}
