.app-container {
  height: 100%;
  ::v-deep .el-menu {
    height: calc(100% - 64px);
    border-right: none;
  }
  ::v-deep .el-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: var(--white-bg-color);
    box-shadow: 0 1px 4px #00152914;
    .header-left {
      .el-icon {
        font-size: 20px;
        cursor: pointer;
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      .el-icon {
        padding: 0 12px;
        cursor: pointer;
      }
      .el-avatar {
        margin: 0 12px;
        cursor: pointer;
      }
    }
  }
  .main-container {
    display: block;
  }

  // 关闭 elmenu 的动画，重新给 menu 和 aside 定义动画
  .el-aside {
    transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s, left 0.3s cubic-bezier(0.2, 0, 0, 1) 0s,
      box-shadow 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
    overflow: hidden;
    ::v-deep .logo {
      display: flex;
      justify-content: center;
      line-height: 64px;
      height: 64px;
      align-items: center;
      background-color: var(--white-bg-color);
      cursor: pointer;
      img {
        width: 32px;
        height: 32px;
      }
      h1 {
        margin-left: 4px;
      }
    }
    .el-menu {
      transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s, left 0.3s cubic-bezier(0.2, 0, 0, 1) 0s,
        box-shadow 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
      width: 100%;
    }
  }

  // 隐藏折叠后仍然显示的文字和icon
  ::v-deep .el-menu--collapse {
    .el-sub-menu__title {
      span {
        display: none;
      }
      .el-sub-menu__icon-arrow {
        display: none;
      }
    }
  }
}
